{{ define "auth" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <title>Вход | Мероприятия СПбГУТ</title>

    <link rel="stylesheet" type="text/css" href="https://abiturient.sut.ru/fomantic/semantic.min.css">
    <link href="https://abiturient.sut.ru/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="https://abiturient.sut.ru/css/auth/signup.css">


        <link href="https://abiturient.sut.ru/css/auth/signup.css" rel="stylesheet">

    <script src="https://abiturient.sut.ru/js/jquery-3.6.0.min.js"></script>
    <script src="https://abiturient.sut.ru/fomantic/semantic.min.js"></script>
    <script src="https://abiturient.sut.ru/js/auth/signup.js" defer></script>



</head>
<body>

<div class="pusher">

    <div class="ui center aligned middle aligned grid fixed menu" id="desktop-menu">
        <div class="row">
            <div class="ui container">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <a href="/">
                                <img src="https://filearchive.cnews.ru/img/book/2022/02/17/spbgut.png" class="ui small image"
                                     alt="Санкт-Петербургский государственный университет телекоммуникаций им. проф. М.А.Бонч-Бруевича">
                            </a>
                        </div>
                        <div class="mobile hidden thirteen wide column">
                            <div class="ui secondary menu">
                              <a class="item" href="/line" >
                                  Лента мероприятий       </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">


    <div class="ui middle aligned one column grid" id="main_container">
        <div class="column">
            <div class="ui container" id="login_box">

                <div class="backlit-light">
                    <div class="ui raised fluid segment">
                        <div class="ui relaxed stackable two column grid mobile reversed" id="main_signin_grid">
                            <div class="left aligned middle aligned column">
                                <h4 class="ui header">Личный кабинет позволит Вам:</h4>
                                <div class="ui bulleted list">
                                    <div class="item">быстрее заполнять анкету при регистрации на мероприятие</div>
                                    <div class="item">следить за обработкой своих заявок</div>
                                    <div class="item">получать оповещения о новом мероприятии любимого организатора</div>
                                </div>


                            </div>
                            <div class="middle aligned column">
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="left aligned column">
                                            <form class="ui form" method="post" action="https://abiturient.sut.ru/ru/login">
                                                <input type="hidden" name="_token" value="">
                                                <div class="field">
                                                    <label>Электронная почта</label>
                                                    <input type="text" name="email" id="email" placeholder="Электронная почта" value="" required>
                                                </div>
                                                <div class="field">
                                                    <label>Пароль</label>
                                                    <input type="password" name="password" id="password" placeholder="Пароль" value="" autocomplete="current-password" required>
                                                </div>
                                                <div class="field">
                                                    <div class="ui checkbox">
                                                        <input type="checkbox" tabindex="0" id="remember_me" name="remember">
                                                        <label>Запомнить меня</label>
                                                    </div>
                                                </div>
                                                <button type="submit"  class="ui button orange" >Войти</button>
                                            </form>
                                            <div class="ui hidden divider"></div>
                                            Нет личного кабинета? <a id="signup" class="orange link" href="https://abiturient.sut.ru/ru/register">Зарегистрироваться</a><br>
                                                                                            <a class="orange link" href="https://abiturient.sut.ru/ru/forgot-password">
                                                    Забыли пароль?                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>



</body>
</html>

{{ end }}
