{{ define "konstrFormReg" }}

{{ template "MenuCreate"}}

<body>
<div class="pusher">
    <div class="ui center aligned middle aligned vertically divided grid fixed menu" id="desktop-menu">
      <div class="row">
          <div class="ui container">
              <div class="ui grid">
                  <div class="three wide column">
                      <a href="/">
                          <img src="https://filearchive.cnews.ru/img/book/2022/02/17/spbgut.png" class="ui small image"
                               alt="СПбГУТ им. проф. М.А.Бонч-Бруевича">
                      </a>
                  </div>
                  <div class="eight wide column">
                      <div class="ui secondary menu">
                          <a class="item" href="/line" >
                              Лента мероприятий       </a>
                          <a class="item" href="/Mero">
                              Мои мероприятия          </a>
                          <a class="item" href="/create">
                              Создать мероприятие     </a>
                        </div>
                  </div>
                  <div class="five wide right aligned middle aligned column">
                      <div class="ui list">
                          <div class="item">
                              <div class="ui dropdown" id="user_menu_dropdown">
                                  <div class="text text-image-middle">
                                      <i class="dropdown icon"></i>

                                      <div class="image-cropper-avatar">
                                              <img class="ui centered image profile-pic"
                                                   src="https://abiturient.sut.ru/storage/avatar/2022/59dac6ba-c086-11ec-80ff-0050568a1abd/1651654341.jpg"
                                                   title="Костенко Александра Сергеевна" alt="Костенко Александра Сергеевна">
                                          </div>

                                      <div class="content">
                                          <div class="ui sub header" id="fio">Костенко Александра Сергеевна</div>
                                              <span id="status">Роль: Организатор</span>
                                      </div>
                                  </div>
                                  <div class="menu">
                                      <a class="item"
                                         href="/">Изменить пароль</a>
                                      <a class="item"
                                         href="">Выйти</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row submenu">
        <div class="ui center aligned container">
           <div class="column">
               <div class="ui breadcrumb">
                 <a class=" section"
                    href="/create">Основное</a>
                 <i class="right arrow icon divider"></i>
                 <a class="active section"
                    href="/FormReg">Форма регистрации</a>
                 <i class="right arrow icon divider"></i>
                 <a class=" section"
                    href="/badge">Бейдж</a>
                 <i class="right arrow icon divider"></i>
                 <a class=" section"
                    href="/sert">Сертификат</a>

               </div>
             </div>
          </div>
      </div>
    </div>
  </div>

<!-- End menu -->


<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<!-- Конструктор бейджей -->

    <div class="ui container">
        <div class="ui stackable centered grid">
            <div class="row">
                <div class="column">
                    <form id="priorities" class="ui form" method="POST" action="https://abiturient.sut.ru/ru/priorities">
                        <input type="hidden" name="_token" value="1">
                        <div class="ui raised fluid card">
                            <div class="content">
                                <div class="header">Конструктор формы регистрации</div>
                            </div>
                            <div class="content">
                                <div class="field">
                                    <div class="ui fluid search selection medium dropdown" id="priority">
                                        <input type="hidden" name="priority" class="noselection">
                                        <i class="dropdown icon"></i>
                                        <i class="remove icon"></i><input class="search" autocomplete="fomantic-search" tabindex="0"><div class="default text">Выберите поле</div>
                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item selected"data-value="1">Фамилия</div>
                                            <div class="item"data-value="2">Имя</div>
                                            <div class="item"data-value="3">Отчетсво</div>
                                            <div class="item"data-value="4">ФИО</div>
                                            <div class="item"data-value="5">Организация</div>
                                            <div class="item"data-value="6">Номер телефона</div>
                                            <div class="item"data-value="7">Должность</div>
                                            <div class="item"data-value="8">Название мероприятия</div>
                                            <div class="item"data-value="9">Дата начала мероприятия</div>
                                            <div class="item"data-value="10">Дата окончания мероприятия</div>
                                            </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <button type="button" class="ui button orange" id="saveform">Добавить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
            <div class="center aligned column">
                <div class="orange ui buttons">
                    <a class="ui left labeled icon button" href="/FormReg"> <i class="left arrow icon"></i>Назад </a>
                    <i class="clockwise rotated window minimize outline icon"></i>
                    <a class="ui right labeled right floated icon button" href="/badge"> <i class="right arrow icon"></i> Далее </a>
                </div>
            </div>
        </div>
    </div>
    </div>

  <!-- Конец конструктора -->

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>


{{ template "footer"}}
{{ end }}
