{{ define "MenuOrg" }}

<!DOCTYPE html>

<div class="pusher">
<div class="row submenu">
   <div class="ui center aligned container">
       <div class="column">
           <div class="ui breadcrumb">
               <a class="section" href="https://abiturient.sut.ru/ru/main">
                   Главная                </a>
               <i class="minus icon divider"></i>
               <div class="ui dropdown section">
                   <i class="dropdown icon"></i>
                   Персональные данные
                   <div class="menu">
                       <a class="item" href="https://abiturient.sut.ru/ru/generalinfo">Общие данные</a>
                       <a class="item" href="https://abiturient.sut.ru/ru/relatives">Родственники</a>
                       <a class="item" href="https://abiturient.sut.ru/ru/privileges">Льготы</a>
                   </div>
               </div>
                               <i class="minus icon divider"></i>
               <a class="section" href="https://abiturient.sut.ru/ru/entrancetests">
                   Вступительные испытания                </a>
                               <i class="minus icon divider"></i>
               <div class="ui dropdown section">
                   <i class="dropdown icon"></i>
                   Образование                    <div class="menu">
                       <a class="item" href="https://abiturient.sut.ru/ru/education">Образование</a>
                                               <a class="item" href="https://abiturient.sut.ru/ru/individualachievements">Индивидуальные достижения</a>
                   </div>
               </div>
               <i class="minus icon divider"></i>
               <div class="ui dropdown section">
                   <i class="dropdown icon"></i>
                   Поступление
                   <div class="menu">
                       <a class="item" href="https://abiturient.sut.ru/ru/priorities">Направления</a>
                       <a class="item" href="https://abiturient.sut.ru/ru/contracts">Договоры</a>
                       <a class="item" href="https://abiturient.sut.ru/ru/portfolio">Конкурс портфолио</a>
                   </div>
               </div>
               <i class="minus icon divider"></i>
               <div class="ui dropdown section">
                   <i class="dropdown icon"></i>
                   Документы
                   <div class="menu">
                       <a class="item" href="https://abiturient.sut.ru/ru/uploadingdocuments">Загрузка документов</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>

{{ end }}
