{{ define "MenuCreate" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


   <title>Создание мероприятия | СПбГУТ</title>

   <link rel="stylesheet" type="text/css" href="https://abiturient.sut.ru/fomantic/semantic.min.css">
       <link rel="stylesheet" type="text/css" href="https://abiturient.sut.ru/css/base.css">
       <link rel="stylesheet" type="text/css" href="https://abiturient.sut.ru/css/menu/menu.css">
       <link rel="stylesheet" type="text/css" href="https://abiturient.sut.ru/css/menu/sidebar.css">

           <link rel="stylesheet" type="text/css" href="https://abiturient.sut.ru/css/forms/generalinfo.css">
       <link rel="stylesheet" type="text/css" href="https://abiturient.sut.ru/dadata/suggestions.min.css">
       <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.min.css">

       <script
         src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous"></script>
       <script src="https://semantic-ui.com/dist/semantic.min.js"></script>

       <script src="https://abiturient.sut.ru/js/jquery-3.6.0.min.js"></script>
       <script src="https://abiturient.sut.ru/fomantic/semantic.min.js"></script>
       <script src="https://abiturient.sut.ru/js/jquery.mask.min.js"></script>

       <script src="https://abiturient.sut.ru/js/base.js" defer></script>
       <script src="https://abiturient.sut.ru/js/menu.js"></script>

       <script src="https://abiturient.sut.ru/js/forms/generalinfo.js"></script>
       <script src="https://abiturient.sut.ru/dadata/jquery.suggestions.min.js"></script>

</head>



{{ end }}
